@import url(https://fonts.google.com/specimen/Outfit);

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 15%, 89%);
  --darkBlue: hsl(220, 95%, 94%);
}

* {
  font-family: specimen, Outfit, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  /* height: 500px;
  width: 1200px; */
  height: 600px;
  width: 1300px;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    18px -6px 15px 12px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 10px 13px -7px #000000,
    18px -6px 15px 12px rgba(0, 0, 0, 0.11);

  background-color: var(--darkBlue);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  height: 350px;
  width: 225px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    2px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 2px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.qr-img img {
  height: 200px;
  width: 200px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

h6 {
  margin: 10px 5px 5px 5px;

  text-align: center;
  font-weight: 700;
}

.box-content p {
  margin: 0 8px;
  text-align: center;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
